# /etc/systemd/system/7seg.service
[Unit]
Description=7seg Display Service
After=network.target

[Service]
Type=simple
User=azsagh
WorkingDirectory=/home/azsagh/7segdisp_azsagh
ExecStart=/home/azsagh/7segdisp_azsagh/venv/bin/python /home/azsagh/7segdisp_azsagh/main.py
StandardOutput=append:/home/azsagh/7segdisp_azsagh/7seg.log
StandardError=append:/home/azsagh/7segdisp_azsagh/7seg.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
