# /etc/systemd/system/
[Unit]
Description=7seg Display Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/azsagh/7segdisp_azsagh
ExecStart=/home/azsagh/7segdisp_azsagh/venv/bin/python /home/azsagh/7segdisp_azsagh/main.py
Restart=always
RestartSec=2
#StandardOutput=append:/home/azsagh/7segdisp_azsagh/7seg.log
#StandardError=append:/home/azsagh/7segdisp_azsagh/7seg.log

[Install]
WantedBy=multi-user.target
