# /etc/systemd/system/tem-watchdog.service
[Unit]
Description=Raspberry Pi Temperature Watchdog
After=network.target
# Jeśli nie masz led-driver.service, można to skomentować
# Wants=led-driver.service

[Service]
Type=simple
ExecStart=/home/azsagh/7seg/src/temp-watchdog.sh
Restart=always
RestartSec=2
User=root

NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=yes
StandardOutput=append:/home/azsagh/7seg/temp-watchdog.log
StandardError=append:/home/azsagh/7seg/temp-watchdog.log

[Install]
WantedBy=multi-user.target
